.button{
    font-size: 16px;
    padding: 10px 30px;
    width: 100%;
    display: block;
    cursor: pointer;
}

.filled{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
}

.outlined{
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}