.button{
    font-size: 16px;
    padding: 10px 30px;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 3px;
}

.filled{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;

    &:hover{
        opacity: .7;
    }
}

.outlined{
    border: 2px solid var(--light-grey);
    color: var(--secondary-color);
    background-color: transparent;

    &:hover{
        border: 2px solid var(--secondary-color);
    }
}