.Historic{
    box-shadow: var(--shadow);

    .historic-header{
        color: var(--main-grey);
        background-color: var(--light-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3, .icon{
            margin: 0;
            padding: 10px;
        }

        .icon{
            cursor: pointer;

            &:hover{
                color: var(--secondary-color);
                transform: rotate(-360deg);
                transition: .5s;
                animation-timing-function: ease-in-out;
            }

        }
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
            &:hover{
                opacity: 1;
                border: 1px solid var(--secondary-color);
            }

            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--light-grey);
            opacity: .3;
            cursor: pointer;

            p, .icon{
                padding: 10px;
                margin: 0;
            }

            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &>p:nth-child(2){
                width: 25%;
                text-align: right;
            }

            .icon{
                color: var(--main-grey);
            }

            &:last-child{
                opacity: 1;
                border-left: solid 3px var(--main-color);
                border-bottom: none;
                pointer-events: none;
            }
        }
    }
}