.Home {
  // column-count: 2;
  //vertical-align: middle;
  // transform : translateY(-50%);
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 50px;

  .logo{
    margin-right: 50px;
    img{
      max-height: 250px;
    }
    button{
      margin-top: 40px;
    }
  }

  .content {
    color: var(--main-color);
  }

  .title{
    display: flex;
    align-items: center;

    h3 {
      color: var(--main-color);
      font-weight: 700;
      font-size: 1.5em;
    }
    font-size: 120%;
    margin-left: 10%;
    text-align: justify;

    .icon {
      &:hover {
        color: var(--secondary-color);
        cursor: pointer;
      }
      margin-left: 10px;
      height: 1rem;
    }
  }
}

@include breakpoint(laptop){
  .Home{
    height: auto;
    display: block;

    .content{

    }

    .logo{
      float: left;
      margin: 50px;
    }
  }
}