.Home {
  column-count: 2;

  //vertical-align: middle;
  //transform : translateY(-50%);
  height: 90vh;
  align-items: center;
  display: flex;

  .content {
    color: var(--main-color);
    font-size: 120%;
    margin-left: 10%;

    svg {
      &:hover {
        color: var(--secondary-color);
        cursor: pointer;
      }

      width: 25px;
    }
  }

  h3 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 2em;
  }

}