.Method{
    .methodCard{
        box-shadow: var(--shadow);

        .header{
            display: flex;
            border-bottom: 1px solid var(--light-grey);
            margin: 15px;
            margin-top: 0;
            padding: 15px 0;

            .informations{
                font-size: 14px;

                h3{
                    margin: 0 0 15px 0;
                }

                &>:last-child{
                    margin-top: 0;
                }
                
                &>div{
                    display: flex;

                    &>div{
                        margin: 20px;
                        width: 25%;

                        &:first-child{
                            margin-left: 0;
                        }

                        &:last-child{
                            margin-right: 15px;
                        }

                        .icon{
                            color: var(--main-grey);
                            display: block;
                            margin: auto;
                        }

                        p{
                            &:nth-child(2){
                                margin: 0;
                                margin-bottom: 10px;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            
            .ressources{
                min-width: 70px;
                background-color: var(--light-grey);

                .ressource{
                    margin: 15px auto;
                    cursor: pointer;

                    .icon{
                        color: var(--pdf-file);
                        font-size: 2.5em;
                        margin: auto;
                        display: block;
                    }

                    p{
                        color: var(--secondary-color);
                        font-size: 10px;
                        text-decoration: underline;
                        text-align: center;
                        margin-top: 5px;
                    }
                }
            }
        }

        .footer{
            padding: 15px;
            padding-top: 0;
            display: flex;
            align-items: center;

            &>span:last-child{
                color: var(--main-grey);
                margin-left: 10px;
                font-size: 14px;
            }
        }
    } 
    .action{
        margin-top: 10px;
        display: flex;

        :first-child{
            margin-right: 10px;
        }
        :nth-child(2){
            margin-left: 10px;
        }
    }
}