.ModalEditRole {
  .action {
    margin-top: 10px;
    display: flex;

    :first-child {
      margin-right: 10px;
    }

    :nth-child(2) {
      margin-left: 10px;
    }
  }

  #select {
    background-color: transparent;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 50%;
    height: 20%;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;

  }

  .action {
    margin-top: 50px;
  }
}
