.ModalEditHome {
  .container {
    .text {
      width: 100%;
      height: auto;
    }

    .textinput {
      width: 100%;
      min-height: 75px;
      outline: none;
      resize: none;
      border: 1px solid var(--main-color);
    }
  }

  .action {
    margin-top: 10px;
    display: flex;

    :first-child {
      margin-right: 10px;
    }

    :nth-child(2) {
      margin-left: 10px;
    }
  }

}

