.Quiz{
    display: flex;

    &>.Issues{
        width: 65%;
        margin: 0 15px 0 30px;
        height: fit-content;
    }

    &>.Historic{
        width: 35%;
        margin: 0 30px 0 15px;
        height: fit-content;
    }
}