.critereNode{
    background-color: red;
}

.Tree{
    .reactflow-wrapper{
        display: flex;

        .canvas{
            width: 100%;
            height: 600px;
            background-color: lightblue;

            .react-flow__edge, .react-flow__node, .critereNode{
                cursor: pointer;
            }
        }

        .tools{
            width: 100px;
        }
    }
}