:root {
    // colors
    --main-color: #0D1A70;
    --secondary-color: #007ACC;
    --text-color: #1A1A1A;
    --main-grey: #666;
    --light-grey: #E6E6E6;
    --pdf-file: #E2574C;

    // styles
    --shadow: rgba(150, 150, 150, 0.24) 0px 3px 8px;
}

.Quiz, .Home, .Summary, nav {
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    margin: 0;
}

.Warning {
    display: none;
}

@import './styles/_quiz.scss';
@import './styles/_issues.scss';
@import './styles/_historic.scss';
@import './styles/_method.scss';
@import './styles/_summary.scss';
@import './styles/_home.scss';
@import './styles/_tree.scss';

@import './styles/_switch.scss';
@import './styles/_button.scss';
@import './styles/_users.scss';
@import './styles/_dropMethodCard.scss';
@import './styles/_navbar.scss';
@import './styles/_warning.scss';
@import './styles/_modal.scss';
@import './styles/_modalEditRole.scss';
@import './styles/_modalDeleteUser.scss';
@import './styles/_modalEditHome.scss';
@import './styles/_modalSignUp.scss';
@import './styles/_modalSignIn.scss';
@import './styles/_login.scss';
@import './styles/_loader.scss';

@import './styles/_breakpoints.scss';
// @import '~font-awesome/scss/font-awesome.scss';

@media only screen and (orientation: portrait) {
    .App {
        display: none;
    }

  .Warning {
    display: block;
    }
}

@media only screen and (orientation:landscape){
    .Warning {
        display: none;
    }
}

@include breakpoint(laptop){
    .App{
        .aside{
            width: 25%;
        }

        .Issues, .Method{
            width:75%;

            .methodCard{
                .header{
                    .informations{
                        &>div{
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet) {
    h1, h2, h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}


@include breakpoint(laptop) {
    .Home {
        height: auto;
        display: block;

        .content {

        }

        .logo {
            float: left;
            margin: 50px;
        }
    }
}